@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Plus Jakarta Sans", sans-serif;
    transition: all 0.2s ease;
}


select {
    border: none;
    outline: none;
    box-shadow: none;
    background: white;
}

input:focus {
    background-color: #e6f5ff;
    outline: none;
    border: none;
}

input:focus-visible {
    outline: none;
    border: none;
}

inpur::selection {
    outline: none;
    border: none;
}

.carousel-services::after{
    content: "";
    top: 0;
    left: 0;
    z-index: 99;
    position: absolute;
    background: black;
}

.mySwiper .swiper-slide {
    border-radius: 18px;
}

.mySwiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}