@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Titillium Web", "sans-serif";
    transition: all 0.2s ease;
    border: 1px solid black;
}


select {
    border: none;
    outline: none;
    box-shadow: none;
}

input:focus {
    background-color: #e6f5ff;
    outline: none;
    border: none;
}

input:focus-visible {
    outline: none;
    border: none;
}

inpur::selection {
    outline: none;
    border: none;
}

.mySwiper .swiper-slide {
    border-radius: 18px;
}

.mySwiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}